/*
!/.gitignore
!/README.md
!/CHANGELOG.md
!/LICENSE.md
!/THIRD_PARTY_NOTICES.md
!/PUBLISHING.md
!/docs/
/docs/*
!/docs/INSTALLATION.md
!/docs/TROUBLESHOOTING.md
!/docs/RELEASE_NOTES_0.8.0.md
!/licenses/
/licenses/*
!/licenses/GO-BSD.txt
!/licenses/YAML-LICENSE.txt
!/licenses/YAML-NOTICE.txt
!/licenses/APACHE-2.0.txt


/release-assets/
**/.DS_Store
